.mainContent {
    margin-left: 300px;
    padding: 0;
    width: calc(100% - 300px);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 64px);
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

.searchControls {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tableContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.table {
    width: 80%;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.welcome {
    padding: 1rem;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 3rem;
}